# How to apply Data Science to my daily life

As a mom and a wife, I have had my hands full just managing the everyday basis. The idea of enrolling into a bootcamp and learning Data science is definitely crazy!  Then, why did I do it?  Because I need it and I found myself actually love coding.  I have always loved doing puzzles and coding is like solving puzzle problems.  It’s fun and so rewarding!  Don’t get me wrong.  It’s certainly hard, especially for a newbie like me.  However, compared to parenting of a very energetic 5 years old boy and a somewhat babyish 45 years old hobby, coding is surely easier. Now I have survived for the 1st week.  I know I am capable of making it through the next 14 weeks!

The key to success is Time Management.  Afterall, I am a mom and a wife.  I have tons of chores and work to do.  I need to utilize every chance and minute I get for study.  Besides, the best way for me to learn and to make sure I absorb it is for me to practice it in reality.  Based on the experience from the 1st week, I have come up with a study system that works very well for me.

Every second counts!  Now I watch Youtube tutorials on my cell phone while cooking, cleaning, doing laundry…etc.  Those tutorials became my bedtime stories and the music to my ears.  It helps me with strengthening the concepts and fundamentals.  The more I listen to it, the more I am familiar with it.  Data Science is not so alien to me anymore.  Believe it or not.  A week ago, I didn't even know the word “depository”. Now I can “$ git commit” it!

Another way for me to practice is applying what I learn to my daily life.  Here is my grocery shopping list looks like:

In [123]:
# create the shopping dict for each store
costco = {"egg":1 , "milk":2 , "oj":1}
kingsooper = {"banana":6 , "apple":6}
print("This is the shopping dict for Costco:", costco)
print("This is the shopping dict for Kingsooper:",kingsooper)

This is the shopping dict for Costco: {'egg': 1, 'milk': 2, 'oj': 1}
This is the shopping dict for Kingsooper: {'banana': 6, 'apple': 6}

In [124]:
# combined those shopping dict
shopping_combined["costco"]=costco
shopping_combined["kingsooper"]=kingsooper
print("This is the combined shopping dict:",shopping_combined)

This is the combined shopping dict: {'costco': {'egg': 1, 'milk': 2, 'oj': 1}, 'kingsooper': {'banana': 6, 'apple': 6}, "Lamar's": {'donut': 2}}

In [125]:
import pandas as pd
df = pd.DataFrame(shopping_combined)
print(df)

        costco  kingsooper  Lamar's
egg        1.0         NaN      NaN
milk       2.0         NaN      NaN
oj         1.0         NaN      NaN
banana     NaN         6.0      NaN
apple      NaN         6.0      NaN
donut      NaN         NaN      2.0

In [130]:
# add a new column for check "Y/N"
df.insert(2, "check", "Y / N", allow_duplicates=True)
df

        costco  kingsooper  check  check  Lamar's
egg        1.0         NaN  Y / N  Y / N      NaN
milk       2.0         NaN  Y / N  Y / N      NaN
oj         1.0         NaN  Y / N  Y / N      NaN
banana     NaN         6.0  Y / N  Y / N      NaN
apple      NaN         6.0  Y / N  Y / N      NaN
donut      NaN         NaN  Y / N  Y / N      2.0

In [127]:
# add new item from store to shopping_combined

def add_item_store(item,store):
    stores = ["costco", "kingsooper"]
    insert_loc = 2
    # insert_loc is the loc for DataFrame
    
    if store not in stores:    
        shopping_combined[store] = item
        stores.append(store)
        insert_loc += 1
    else:
        shopping_combined[store].update(item)
        
    df = pd.DataFrame(shopping_combined)
    df.insert(insert_loc, "check", "Y/N", allow_duplicates=True)
    
    return print("This is the new shopping list:",shopping_combined, "\n", df)

In [128]:
# add a new item to an existing store
add_item_store({"TP":1},"costco")

This is the new shopping list: {'costco': {'egg': 1, 'milk': 2, 'oj': 1, 'TP': 1}, 'kingsooper': {'banana': 6, 'apple': 6}, "Lamar's": {'donut': 2}}
         costco  kingsooper check  Lamar's
egg        1.0         NaN   Y/N      NaN
milk       2.0         NaN   Y/N      NaN
oj         1.0         NaN   Y/N      NaN
TP         1.0         NaN   Y/N      NaN
banana     NaN         6.0   Y/N      NaN
apple      NaN         6.0   Y/N      NaN
donut      NaN         NaN   Y/N      2.0

In [129]:
# add a new item to a new store 
add_item_store({"donut":2},"Lamar's")

This is the new shopping list: {'costco': {'egg': 1, 'milk': 2, 'oj': 1, 'TP': 1}, 'kingsooper': {'banana': 6, 'apple': 6}, "Lamar's": {'donut': 2}}
         costco  kingsooper  Lamar's check
egg        1.0         NaN      NaN   Y/N
milk       2.0         NaN      NaN   Y/N
oj         1.0         NaN      NaN   Y/N
TP         1.0         NaN      NaN   Y/N
banana     NaN         6.0      NaN   Y/N
apple      NaN         6.0      NaN   Y/N
donut      NaN         NaN      2.0   Y/N

Another example.  Here is a text to my husband:
# return True or False
boo(are you pick up kid today)

The road is not easy but it’s fulfilling.  I can’t wait to see what more I can do with the skills and knowledge I learn at Flatiron school and who I can transform into.  I am excited about the new Git me!  My dog will be very excited too when I finish school so we can have more time to pay “$ git fetch”!

# Edited on 11/06/2022 by Jasmine Huang in Denver Colorado